# PDA Project Dec 2018 
by Colm Doherty

## 1. Researching an existing dataset

dataset source : Met Eireann https://www.met.ie
monthly rainfall at Dun Laoghaire weather station, 1997-2018

In [12]:
# Import pandas etc.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
! ls

Data_Licence.pdf           MET9223.csv
Data_Licence.txt           PDA Project Dec 2018.ipynb
Hello.py                   PDA project Dec.pdf
Indicator.txt              README.md
LICENSE

In [20]:
# Load the dataset
dataset = df
import csv as df
df = pd.read_csv("MET9223.csv")

In [21]:
df

,Station Name: DUN LAOGHAIRE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Station Height: 30 M,NaN,NaN,NaN,NaN,NaN
1,Latitude:53.285,Longitude: -6.126,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,year: - Year,NaN,NaN,NaN,NaN,NaN
5,month: - Month,NaN,NaN,NaN,NaN,NaN
6,rain: - Precipitation Amount (mm),NaN,NaN,NaN,NaN,NaN
7,gdf: - Greatest daily fall (mm),NaN,NaN,NaN,NaN,NaN
8,rd: - Number of rain days (0.2mm or more),NaN,NaN,NaN,NaN,NaN
9,wd: - Number of wet days (1.0 mm or more)\t,NaN,NaN,NaN,NaN,NaN
10,ind: - Indicator,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN
12,year,month,rain,gdf,rd,wd
13,1997,8,91.8,17.4,18,16
14,1997,9,11.5,2.9,12,4
15,1997,10,70.7,20.7,14,10
16,1997,11,187.4,54.6,22,17
17,1997,12,84.4,21.7,14,12
18,1998,1,109.4,16.5,19,15
19,1998,2,8.4,2.9,8,4
20,1998,3,61.3,10.3,15,11
21,1998,4,136.5,39,26,16
22,1998,5,27.7,12.5,11,5
23,1998,6,125.1,29.1,,
24,1998,7,34.2,,,
25,1998,8,33.8,13.2,9,7
26,1998,9,89.4,21.6,18,17
27,1998,10,73.5,8,23,15
28,1998,11,87.1,23,19,14
29,1998,12,74.8,28.7,23,17
...,...,...,...,...,...,...
236,2016,3,29.7,5.7,14,8
237,2016,4,55.6,29.7,13,9
238,2016,5,38.7,7.3,13,9
239,2016,6,57.5,8.5,16,14
240,2016,7,28,4,17,11
241,2016,8,55.5,26.6,15,8
242,2016,9,68.6,20.4,16,14
243,2016,10,38.6,15.8,8,4
244,2016,11,31,8.4,13,7
245,2016,12,55,13.2,15,11
246,2017,1,19.3,10.5,13,5
247,2017,2,66.5,12.7,16,12
248,2017,3,57.3,14.9,16,12
249,2017,4,9.9,4,7,3
250,2017,5,61.5,32,16,9
251,2017,6,84.3,18,18,12
252,2017,7,38.4,11.1,12,7
253,2017,8,53.1,17.5,15,9
254,2017,9,91.5,19,23,13
255,2017,10,55.1,14.9,15,10
256,2017,11,72.3,29.8,15,10
257,2017,12,57.9,16.2,15,10
258,2018,1,91.8,18,21,17
259,2018,2,29.6,7.4,15,11
260,2018,3,113.1,36,22,18
261,2018,4,78.4,12.1,21,16
262,2018,5,20.1,6,10,5
263,2018,6,1.2,1,2,1
264,2018,7,43.5,12.3,9,7
265,2018,8,27.8,11.4,14,10

In [22]:
df.head()

,Station Name: DUN LAOGHAIRE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Station Height: 30 M,NaN,NaN,NaN,NaN,NaN
1,Latitude:53.285,Longitude: -6.126,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,year: - Year,NaN,NaN,NaN,NaN,NaN

In [23]:
df.tail()

,Station Name: DUN LAOGHAIRE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
261,2018,4,78.4,12.1,21,16
262,2018,5,20.1,6,10,5
263,2018,6,1.2,1,2,1
264,2018,7,43.5,12.3,9,7
265,2018,8,27.8,11.4,14,10

In [24]:
df.describe()

,Station Name: DUN LAOGHAIRE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,263,255,254,254,254,254
unique,32,14,232,165,27,23
top,2011,8,61.3,,14,12
freq,12,22,3,9,25,28